# Digital Ocean Spaces Credentials
# NUNCA subir este archivo a Git
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_REGION=us-east-1
DO_SPACES_ACCESS_KEY=tu_access_key_aqui
DO_SPACES_SECRET_KEY=tu_secret_key_aqui
DO_SPACES_BUCKET_NAME=emprendia-dev

# Database
DB_USERNAME=postgres
DB_PASSWORD=emprendia2026

# Keycloak
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/emprendia

